:root {
    --black: #130F0E;
    --yellow-white: #f5e1c5;;
    --brown: #593934;
    --light-brown: #83665C;
    --doubl-light-brown: #C28773;
    --orange: #FE652B;
    --pink: #D28471;
    --bgGreen: #818E87;
    --button-size: 60px;
    --button-margin: 10px;
    --border-thickness: 2px;

}
body{
    background-color: rgb(2, 81, 146);
}
#calculator{
    background-color: var(--black);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: min-content;
    width: min-content;
    padding: 15px 15px;
    border-radius: 25px;
}
#display{
    background-color: var(--bgGreen);
    width: 95%;
    height: 65px;
    margin: 10px;
    border-radius: 5px;
}
#leftKeys{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
}
#mainKeys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
}
#rightKeys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}
#keysContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-content: center; 
}
.keycap {
    width: 60px;
    height: 60px;
    /* background: #f5e1c5;  */
    background-color: var(--yellow-white);
    border-radius: 10px;
    border: var(--border-thickness) solid #d1b89f; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    font-family: "Handlee", serif;
    /* todo */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
    margin: 2px;
}

.keycap .main {
    
    font-size: 20px;
    color: #222; 
}

.keycap .sub {
    font-size: 10px;
    color: var(--pink)
}

.keycap:active {
    transform: translateY(2px); 
}

#plus-button {
    grid-row: span 2; /* Makes it take two rows */
    height: 125px; /* Double the height */
    background-color: var(--brown);
    border: var(--border-thickness) solid rgba(0, 0, 0, 0.3); 
}
#AC{
    background-color: var(--orange);
    border: var(--border-thickness) solid rgba(0, 0, 0, 0.3); /* Darker border */
    border-bottom-left-radius: 25px;
}
#AC .main{
    color: white;
}
.brown-btn{
    background-color: var(--light-brown);
    border: var(--border-thickness) solid rgba(0, 0, 0, 0.3); 
}
#dot .main{
    transform: scale(1.5);
}
@font-face {
    font-family: "Digital7";
    font-style: mono-italic;
    src: url(fonts/Digital7Monoitalic-8MDLJ.ttf);
}
#display{
    initial-value: "8008";
    font-family: "Digital7";
    font-style: "mono-italic";
    color: black;
    font-size: 90px;
}
.icon{
    max-width: 85%; /* Adjust icon size */
    max-height: 85%;
    margin-top: 8px;
}
#M-plus{
    border-bottom-right-radius: 25px;
}